    .phase-container {
        background-color: #1a1a1a;
        border: 2px solid #0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
        text-align: center;
        color: #0f0;
        font-family: 'Courier New', monospace;
    }

    #phaseCanvas {
        background-color: #000;
        border: 1px solid #333;
        margin: 20px 0;
        border-radius: 4px;
        box-shadow: inset 0 0 10px rgba(0, 255, 0, 0.1);
    }

    #phase-slider {
        width: 80%;
        cursor: pointer;
        accent-color: #0f0; 
    }

    .phase-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    #phase-status {
        margin-top: 15px;
        font-weight: bold;
        font-size: 1.2rem;
        color: #e74c3c;
    }

    .status-success {
        color: #2ecc71 ;
        text-shadow: 0 0 10px #2ecc71;
    }

    #icon-phase-puzzle {
        position: absolute;
        top: 22%;
        left: 25%;
        width: 80px;
        height: 80px; 
        cursor: pointer;
        z-index: 1000; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    #icon-phase-puzzle:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }

    .icon-label {
        display: block;
        font-family: sans-serif;
        font-size: 14px;
        margin-top: 5px;
    }

    /* --- LA FENÊTRE DU JEU (STYLE HACKER) --- */
#overlay-phase {
    /* CES LIGNES MANQUAIENT POUR COUVRIR L'ÉCRAN : */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    /* Style visuel */
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 9999 !important; /* Pour passer devant tout */
    
    /* Pour centrer la boîte au milieu */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Assurez-vous aussi que la boîte a ce style */
.phase-container {
    background-color: #111;
    border: 2px solid #0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #0f0;
    font-family: 'Courier New', monospace;
    width: 650px; /* Largeur fixe pour être sûr */
    max-width: 90%;
}

    #phaseCanvas {
        background-color: #000;
        border: 1px solid #333;
        margin: 20px 0;
        width: 100%;       /* Responsive */
        max-width: 600px;
    }

    #phase-slider {
        width: 80%;
        cursor: pointer;
        margin-top: 10px;
    }

    /* Texte statut */
    #phase-status {
        margin-top: 15px;
        font-weight: bold;
        font-size: 1.2rem;
        color: #e74c3c; /* Rouge */
    }
    .status-success {
        color: #2ecc71 !important; /* Vert */
        text-shadow: 0 0 10px #2ecc71;
    }

